.header-container {
  border: 5px solid green;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  font-size: large;
}
